body {
font-family: Arial, Helvetica, sans-serif;
}

.titulo{
font-style: oblique;
font-family: fantasy
}

.first-buttom:hover {
background-color: #BBD3F2 !important;
color:black !important;

}

.header-text {
line-height: 65px;
}

.header-text:hover {
color: #BBD3F2 !important;
}

.carrito {
color: black !important;
}

.carrito:hover {
color: #BBD3F2 !important;
}

.buscador {
line-height: 50px;
}


.person {
color: black !important;
}

.person:hover {
color: #BBD3F2 !important;
}

.logo{
right: 82%;
top: 2%;
}


/* Compras */
*{
  font-family: 'Montserrat', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  
  transition: all .2s linear;
}

.container{
 max-width: 1200px;
 margin: 0 auto;
 text-align: center;
 padding:25px 20px;
}

.container .heading{
 font-size: 40px;
 margin-bottom: 20px;
 color:#334;
}

.container .box-container{
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
 gap:20px;
}

.container .box-container .box{
 background-color: #fff;
 padding:20px;
 border-radius: 5px;
 box-shadow: 0 5px 10px rgba(0,0,0,.2);
 display: none;
}

/* para refrescar cuando se aprete el boton de ver mas */
.container .box-container .box:nth-child(1),
.container .box-container .box:nth-child(2),
.container .box-container .box:nth-child(3){
 display: inline-block;
}

.container .box-container .box .image{
 margin-bottom: 20px;
 overflow: hidden;
 height: 250px;
 border-radius: 5px;
}

/* Ajusta un poco la imagen */
.container .box-container .box .image img{
 height: 100%;
 width: 100%;
 object-fit: cover;
}
/* Ajusta un poco la imagen */
.container .box-container .box:hover .image img{
 transform: scale(1.1);
 object-fit: cover;
}

.container .box-container .box .content h3{
 font-size: 20px;
 color:#334;
}

.container .box-container .box .content p{
 font-size: 15px;
 color:#777;
 line-height: 2;
 padding:15px 0;
}
/* Ajusta un poco el botton */
.container .box-container .box .content .btn{
 display: inline-block;
 padding:10px 30px;
 border:1px solid #334;
 color:#334;
 font-size: 16px;
}

.container .box-container .box .content .btn:hover{
  background: radial-gradient(circle, #7ec9f5 0%,#3957ed 100%);
 border-color: white;
 color: white;
}

.container .box-container .box .content .icons{
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin-top: 20px;
 padding-top: 15px;
 border-top:1px solid #334;
}

.container .box-container .box .content .icons span{
 font-size: 14px;
 color:#777;
}

.container .box-container .box .content .icons span i{
 color:crimson;
 padding-right: 5px;
}

/* Ajusta un poco el botton de load-more que seria el de ver mas */
#load-more{
 margin-top: 20px;
 display: inline-block;
 padding:13px 30px;
 border:1px solid #334;
 color:#334;
 font-size: 16px;
 background-color: #fff;
 cursor: pointer;
}

#load-more:hover{
 background-color: #005192;
 border-color: #005192;
 color:#fff;
}
/*Para hacer la pagina responsiva */
@media (max-width:450px){

 .container .heading{
   font-size: 25px;
 }

 .container .box-container{
   grid-template-columns: 1fr;
 }

 .container .box-container .box .image{
   height: 200px;
 }

 .container .box-container .box .content p{
   font-size: 12px;
 }

 .container .box-container .box .content .icons span{
   font-size: 12px;
 }

}


/* Diseño del footer */
.pie-pagina{
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}

/* Agrupacion del footer a la izquierda */
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

/* Posicionamiento del logo en el footer */
.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Diseño del tamaño de las letras en el footer */
.pie-pagina .grupo-1 .box h2{
  color: #FFF;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box h1{
  color: #FFF;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
  color: #efefef;
  margin-bottom: 10px;
}

/* Diseño de las redes sociales aplicando un background y posicionamiento para ordenarlas, además de un resaltado  */
.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #FFF;
  margin-right: 10px;
  background-color: #3B4045;
  text-align: center;
  transition: all 300mx ease;
}

/* Lista de color en los hover a la hora de posicionarse */
.pie-pagina .grupo-1 .red-social .facebook:hover {
  background-color: #4267B2;
}

.pie-pagina .grupo-1 .red-social .instagram:hover {
  background: radial-gradient(circle at 33% 100%, #fed373 4%,
  #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
}

.pie-pagina .grupo-1 .red-social .twitter:hover {
  background-color: #1DA1F2;
}

.pie-pagina .grupo-1 .red-social .youtube:hover {
  background-color: #C4302B;
}

/* Le da un resaltado y transformacion a las redes sociales dandole un acabado de color y escalado */
.pie-pagina .grupo-1 .red-social a:hover{
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
  fill: none;
}


/* Diseño del grupo 2 */
.pie-pagina .grupo-2{
  background-color: #3B4045;
  padding: 15px 10px;
  text-align: center;
  color: #FFF;
}

/* Tamaño de la fuente en dicho grupo */
.pie-pagina .grupo-2 small{
  font-size: 15px;
}

.contacto1{
  margin-left: 350px;
  display: flex;
  display: inline;
}

.contacto2{
  display: flex;
  display: inline;
}

/* Aplicando responsividad en el footer */
@media  screen and (max-width: 800px){
  .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 30px;
      padding: 35px 0px;
  }
}
  

/* Buscador */
.filtro{
  display: none;
}

/* Carrito */

